body {
    background-color: lightsalmon;
}

#para span {
    display: inline-block;
    float: right;
    padding: 10px 0px;
    text-align: center;
    border: 1px solid black;
    width: 50%;
}

#chic {
    background-color: pink;
}

#beef {
    background-color: orange;
}

#shus {
    background-color: yellow;
}

#para {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: grey;
}

.banner {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.banner span {
    background-color: lightgreen;
    display: block;
    width: 95%;
    color: red;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        display: inline-block;
    }
    .col-lg-1 {
        width: 8%;
    }
    .col-lg-2 {
        width: 16%;
    }
    .col-lg-3 {
        width: 24%;
    }
    .col-lg-4 {
        width: 30%;
    }
    .col-lg-5 {
        width: 40%;
    }
    .col-lg-6 {
        width: 48%;
    }
    .col-lg-7 {
        width: 56%;
    }
    .col-lg-8 {
        width: 64%;
    }
    .col-lg-9 {
        width: 72%;
    }
    .col-lg-10 {
        width: 80%;
    }
    .col-lg-11 {
        width: 88%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 950px) and (max-width: 1199px) {
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        display: inline-block;
    }
    .col-md-1 {
        width: 8%;
    }
    .col-md-2 {
        width: 16%;
    }
    .col-md-3 {
        width: 24%;
    }
    .col-md-4 {
        width: 30%;
    }
    .col-md-5 {
        width: 40%;
    }
    .col-md-6 {
        width: 45%;
    }
    .col-md-7 {
        width: 56%;
    }
    .col-md-8 {
        width: 64%;
    }
    .col-md-9 {
        width: 72%;
    }
    .col-md-10 {
        width: 80%;
    }
    .col-md-11 {
        width: 88%;
    }
    .col-md-12 {
        width: 93%;
    }
}


}